mixin html5
  doctype html
  html(lang="es")
    if block
      block

mixin head(titleTxt, links, keywords, description)
  head
    meta(charset="utf-8")
    title=titleTxt
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/png", href="favicon.png")
    - each ls in links
      link(rel="stylesheet", href=ls)  
    if block
      block

mixin menuList(activePage, nav, type)
  ul.listMain(class=(type === 'horizontal' ? "horizontal" : "")  )
    if type == 'horizontal'
      - var howMany = nav.length
      - var widthCol = Math.round(12/howMany)
    - each n in nav
      li(class=(type === 'horizontal' ? "col#{widthCol}" : "") )
        a(href="#{n[1]}.html", class=activePage=== "#{n[1]}" ? "active" : "") !{n[0]}
        if n[2]
          ul.listSub
            - each ni in n[2]
              li: a(href="#{ni[1]}.html", class=activePage=== "#{ni[1]}" ? "active" : "") !{ni[0]}
  
mixin menuListLI()
  a(href="#{n[1]}.html", class=activePage=== "#{n[1]}" ? "active" : "") !{n[0]}
  if n[2]
    ul.listSub
      - each ni in n[2]
        li: a(href="#{ni[1]}.html", class=activePage=== "#{ni[1]}" ? "active" : "") !{ni[0]}

mixin scripts()
  - each sc in javascripts
    script(src="#{sc}")
      
      

mixin slider(classS, ...items)
  .slider(class=classS)
    each item in items
      div: img(src=item).w100
      
